header{
    background-color: white;
    padding: 0;
    border-bottom: 1px solid red;
}
a{
    color: red;
}
a:hover{
    background-color: hsl(0, 94%, 87%);
    color: white;
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
a.logo{
   font-weight: Bold;
    padding: 1em;
}
nav ul{
    list-style-type: none;
    margin: 0;
}
nav ul li a{
   padding: 1em;
   display: inline-block;
}