div{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
div a{
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    padding: .3rem 1rem;
    background-color: antiquewhite;
    border-radius: 10rem;
    color: blue;
    font-weight: 600;
}